* {
    margin: 0;
}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(dc.png);
    background-size: cover ;
    filter: brightness(1.3);
}

.digitalclock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 270px;
    border: 4px black solid;
    border-radius: 20px;
    font-family: 'digital';
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 10px;
    letter-spacing: 30px;
    text-shadow: 0 0 20px #00ffcc;
}

.ampm {
    font-size: 12px;
    letter-spacing: 1px;
    align-self: flex-end;
    margin-bottom: 50px;
    padding-right: 20px;
}

.num {
    letter-spacing: 1px;
    margin-right: 20px;
}